{% extends 'base.html' %}
{% block title %}过期账单{% endblock %}
{% block content %}
<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <h1>久久对账单 <small><small> 让对账更简单</small></small></h1>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-portlet-components" style="border: 0px;">
            <div style="color:red;">账单已过期，请联系商家重新转发！</div>
        </div>
    </div>
</body>
{% endblock %}